<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center pb-4 pt-3">
                    <i class="fa fa-lock">Cleint panel login</i>
                </h1>
                <form (submit)="onSubmit()">
                    <div class="form-group">
                      <label for="email"> Email </label>
                      <input type="text" name="email" id="email" class="form-control" [(ngModel)] = "email" required placeholder="Enter your email id..." aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="password"> Password </label>
                        <input type="password" name="password" id="password" class="form-control" [(ngModel)] = "password" required placeholder="Enter your password..." aria-describedby="helpId">
                      </div>
                      <input type="submit" value="Login" class="btn btn-primary mt-2">
                </form>
            </div>
        </div>
    </div>
</div>